# Sakila Qeries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from urllib.parse import quote_plus

# Log in
username = "root"
password = quote_plus("OscarRamirez123@")  # Using the quote function to make the password compatible
db_name = "sakila"

# Connect engine
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)

# Test connection
print("Sakila database connected successfully")

# Example query
query = "SELECT * FROM actor"
df = pd.read_sql(query, engine)
print(df.head(11))

Sakila database connected successfully
    actor_id first_name     last_name         last_update
0          1   PENELOPE       GUINESS 2006-02-14 12:34:33
1          2       NICK      WAHLBERG 2006-02-14 12:34:33
2          3         ED         CHASE 2006-02-14 12:34:33
3          4   JENNIFER         DAVIS 2006-02-14 12:34:33
4          5     JOHNNY  LOLLOBRIGIDA 2006-02-14 12:34:33
5          6      BETTE     NICHOLSON 2006-02-14 12:34:33
6          7      GRACE        MOSTEL 2006-02-14 12:34:33
7          8    MATTHEW     JOHANSSON 2006-02-14 12:34:33
8          9        JOE         SWANK 2006-02-14 12:34:33
9         10  CHRISTIAN         GABLE 2006-02-14 12:34:33
10        11       ZERO          CAGE 2006-02-14 12:34:33

### 1. To get all the customers inside city_id = 312:

In [2]:
query1 = """
SELECT c.first_name, c.last_name, c.email, a.address, ct.city
FROM customer AS c
JOIN address AS a ON c.address_id = a.address_id
JOIN city AS ct ON a.city_id = ct.city_id
WHERE ct.city_id = 312;
"""
df1 = pd.read_sql(query1, engine)
print(df1)

  first_name last_name                              email             address  \
0     MATTIE   HOFFMAN  MATTIE.HOFFMAN@sakilacustomer.org   1497 Yuzhou Drive
1      CECIL     VINES     CECIL.VINES@sakilacustomer.org  548 Uruapan Street

     city
0  London
1  London

### 2. To get all comedy films:

In [3]:
query2 = """
SELECT f.title, f.description, f.release_year, f.rating, f.special_features
FROM film AS f
JOIN film_category AS fc ON f.film_id = fc.film_id
JOIN category AS c ON fc.category_id = c.category_id
WHERE c.name = 'Comedy';
"""
df2 = pd.read_sql(query2, engine)
print(df2)

                      title  \
0           AIRPLANE SIERRA
1               ANTHEM LUKE
2       BRINGING HYSTERICAL
3             CAPER MOTIONS
4             CAT CONEHEADS
5               CLOSER BANG
6    CONNECTION MICROCOSMOS
7            CONTROL ANTHEM
8                CRAZY HOME
9          DADDY PITTSBURGH
10             DOOM DANCING
11          DOWNHILL ENOUGH
12              DYING MAKER
13           ELEMENT FREDDY
14            FERRIS MOTHER
15    FIREBALL PHILADELPHIA
16    FLINTSTONES HAPPINESS
17    FRANKENSTEIN STRANGER
18        FREEDOM CLEOPATRA
19               GOLD RIVER
20          GROUNDHOG UNCUT
21            GUNFIGHT MOON
22            HATE HANDICAP
23           HEAVEN FREEDOM
24             HEDWIG ALTER
25         HURRICANE AFFAIR
26            HUSTLER PARTY
27               JAWS HARRY
28            KNOCK WARLOCK
29             LIFE TWISTED
30               LION UNCUT
31          LONELY ELEPHANT
32          MALLRATS UNITED
33        MEMENTO ZOOLANDER
34               MULAN MOON
35            MYSTIC TRUMAN
36      OPERATION OPERATION
37         PARADISE SABRINA
38              PARTY KNOCK
39           PERFECT GROOVE
40          PINOCCHIO SIMON
41              PURE RUNNER
42         RUSHMORE MERMAID
43         SADDLE ANTITRUST
44              SATURN NAME
45           SEARCHERS WAIT
46           SNATCH SLIPPER
47              STAGE WORLD
48        STRICTLY SCARFACE
49            SUBMARINE BED
50           SWEDEN SHINING
51  TRAINSPOTTING STRANGERS
52             TRAMP OTHERS
53            VALLEY PACKER
54        VELVET TERMINATOR
55        VERTIGO NORTHWEST
56            WISDOM WORKER
57                ZORRO ARK

                                          description  release_year rating  \
0   A Touching Saga of a Hunter And a Butler who m...          2006  PG-13
1   A Touching Panorama of a Waitress And a Woman ...          2006  PG-13
2   A Fateful Saga of a A Shark And a Technical Wr...          2006     PG
3   A Fateful Saga of a Moose And a Car who must P...          2006      G
4   A Fast-Paced Panorama of a Girl And a A Shark ...          2006      G
5   A Unbelieveable Panorama of a Frisbee And a Hu...          2006      R
6   A Fateful Documentary of a Crocodile And a Hus...          2006      G
7   A Fateful Documentary of a Robot And a Student...          2006      G
8   A Fanciful Panorama of a Boy And a Woman who m...          2006     PG
9   A Epic Story of a A Shark And a Student who mu...          2006      G
10  A Astounding Panorama of a Car And a Mad Scien...          2006      R
11  A Emotional Tale of a Pastry Chef And a Forens...          2006      G
12  A Intrepid Tale of a Boat And a Monkey who mus...          2006     PG
13  A Awe-Inspiring Reflection of a Waitress And a...          2006  NC-17
14  A Touching Display of a Frisbee And a Frisbee ...          2006     PG
15  A Amazing Yarn of a Dentist And a A Shark who ...          2006     PG
16  A Fateful Story of a Husband And a Moose who m...          2006  PG-13
17  A Insightful Character Study of a Feminist And...          2006  NC-17
18  A Emotional Reflection of a Dentist And a Mad ...          2006  PG-13
19  A Taut Documentary of a Database Administrator...          2006      R
20  A Brilliant Panorama of a Astronaut And a Tech...          2006  PG-13
21  A Epic Reflection of a Pastry Chef And a Explo...          2006  NC-17
22  A Intrepid Reflection of a Mad Scientist And a...          2006     PG
23  A Intrepid Story of a Butler And a Car who mus...          2006     PG
24  A Action-Packed Yarn of a Womanizer And a Lumb...          2006  NC-17
25  A Lacklusture Epistle of a Database Administra...          2006     PG
26  A Emotional Reflection of a Sumo Wrestler And ...          2006  NC-17
27  A Thrilling Display of a Database Administrato...          2006      G
28  A Unbelieveable Story of a Teacher And a Boat ...          2006  PG-13
29  A Thrilling Reflection of a Teacher And a Comp...          2006  NC-17
30  A Intrepid Display of a Pastry Chef And a Cat ...          2006     PG
31  A Intrepid Story of a Student And a Dog who mu...          2006      G
32  A Thrilling Yarn of a Waitress And a Dentist w...          2006     PG
33  A Touching Epistle of a Squirrel And a Explore...          2006  NC-17
34  A Emotional Saga of a Womanizer And a Pioneer ...          2006      G
35  A Epic Yarn of a Teacher And a Hunter who must...          2006  NC-17
36  A Intrepid Character Study of a Man And a Fris...          2006      G
37  A Intrepid Yarn of a Car And a Moose who must ...          2006  PG-13
38  A Fateful Display of a Technical Writer And a ...          2006     PG
39  A Thrilling Yarn of a Dog And a Dog who must B...          2006  PG-13
40  A Action-Packed Reflection of a Mad Scientist ...          2006     PG
41  A Thoughtful Documentary of a Student And a Ma...          2006  NC-17
42  A Boring Story of a Woman And a Moose who must...          2006  PG-13
43  A Stunning Epistle of a Feminist And a A Shark...          2006  PG-13
44  A Fateful Epistle of a Butler And a Boy who mu...          2006      R
45  A Fast-Paced Tale of a Car And a Mad Scientist...          2006  NC-17
46  A Insightful Panorama of a Woman And a Feminis...          2006     PG
47  A Lacklusture Panorama of a Woman And a Frisbe...          2006     PG
48  A Touching Reflection of a Crocodile And a Dog...          2006  PG-13
49  A Amazing Display of a Car And a Monkey who mu...          2006      R
50  A Taut Documentary of a Car And a Robot who mu...          2006     PG
51  A Fast-Paced Drama of a Pioneer And a Mad Cow ...          2006  PG-13
52  A Brilliant Display of a Composer And a Cat wh...          2006     PG
53  A Astounding Documentary of a Astronaut And a ...          2006      G
54  A Lacklusture Tale of a Pastry Chef And a Tech...          2006      R
55  A Unbelieveable Display of a Mad Scientist And...          2006      R
56  A Unbelieveable Saga of a Forensic Psychologis...          2006      R
57  A Intrepid Panorama of a Mad Scientist And a B...          2006  NC-17

                                     special_features
0                             Trailers,Deleted Scenes
1                    Deleted Scenes,Behind the Scenes
2                                            Trailers
3                Trailers,Commentaries,Deleted Scenes
4                         Commentaries,Deleted Scenes
5                          Trailers,Behind the Scenes
6                    Deleted Scenes,Behind the Scenes
7                                        Commentaries
8                         Commentaries,Deleted Scenes
9                    Deleted Scenes,Behind the Scenes
10                              Trailers,Commentaries
11               Trailers,Commentaries,Deleted Scenes
12                                  Behind the Scenes
13                     Commentaries,Behind the Scenes
14          Trailers,Deleted Scenes,Behind the Scenes
15            Trailers,Commentaries,Behind the Scenes
16  Trailers,Commentaries,Deleted Scenes,Behind th...
17                   Deleted Scenes,Behind the Scenes
18            Trailers,Commentaries,Behind the Scenes
19  Trailers,Commentaries,Deleted Scenes,Behind th...
20  Trailers,Commentaries,Deleted Scenes,Behind th...
21                   Deleted Scenes,Behind the Scenes
22            Trailers,Commentaries,Behind the Scenes
23                                       Commentaries
24            Trailers,Commentaries,Behind the Scenes
25            Trailers,Commentaries,Behind the Scenes
26            Trailers,Commentaries,Behind the Scenes
27                                     Deleted Scenes
28                                           Trailers
29                        Commentaries,Deleted Scenes
30                            Trailers,Deleted Scenes
31  Trailers,Commentaries,Deleted Scenes,Behind th...
32               Trailers,Commentaries,Deleted Scenes
33                                  Behind the Scenes
34                                  Behind the Scenes
35                     Commentaries,Behind the Scenes
36  Trailers,Commentaries,Deleted Scenes,Behind th...
37      Commentaries,Deleted Scenes,Behind the Scenes
38                         Trailers,Behind the Scenes
39      Commentaries,Deleted Scenes,Behind the Scenes
40                     Commentaries,Behind the Scenes
41                            Trailers,Deleted Scenes
42               Trailers,Commentaries,Deleted Scenes
43                            Trailers,Deleted Scenes
44  Trailers,Commentaries,Deleted Scenes,Behind th...
45  Trailers,Commentaries,Deleted Scenes,Behind th...
46                                       Commentaries
47                     Commentaries,Behind the Scenes
48      Commentaries,Deleted Scenes,Behind the Scenes
49                                           Trailers
50                   Deleted Scenes,Behind the Scenes
51                                           Trailers
52                                     Deleted Scenes
53                        Commentaries,Deleted Scenes
54                                  Behind the Scenes
55                     Commentaries,Behind the Scenes
56                   Deleted Scenes,Behind the Scenes
57            Trailers,Commentaries,Behind the Scenes

### 3. To get all the films that Johnny Lollobrigida was in:

In [4]:
query3 = """
SELECT a.last_name, f.title, f.release_year
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
WHERE a.first_name = 'Johnny' AND a.last_name = 'Lollobrigida';
"""
df3 = pd.read_sql(query3, engine)
print(df3)

       last_name                 title  release_year
0   LOLLOBRIGIDA          AMADEUS HOLY          2006
1   LOLLOBRIGIDA      BANGER PINOCCHIO          2006
2   LOLLOBRIGIDA      BONNIE HOLOCAUST          2006
3   LOLLOBRIGIDA           CHITTY LOCK          2006
4   LOLLOBRIGIDA  COMMANDMENTS EXPRESS          2006
5   LOLLOBRIGIDA     CONEHEADS SMOOCHY          2006
6   LOLLOBRIGIDA      DADDY PITTSBURGH          2006
7   LOLLOBRIGIDA       DAISY MENAGERIE          2006
8   LOLLOBRIGIDA         ENOUGH RAGING          2006
9   LOLLOBRIGIDA     ESCAPE METROPOLIS          2006
10  LOLLOBRIGIDA           FIRE WOLVES          2006
11  LOLLOBRIGIDA        FRONTIER CABIN          2006
12  LOLLOBRIGIDA     GOODFELLAS SALUTE          2006
13  LOLLOBRIGIDA    GRAIL FRANKENSTEIN          2006
14  LOLLOBRIGIDA        GROOVE FICTION          2006
15  LOLLOBRIGIDA          HALL CASSIDY          2006
16  LOLLOBRIGIDA          HEAVENLY GUN          2006
17  LOLLOBRIGIDA      KRAMER CHOCOLATE          2006
18  LOLLOBRIGIDA         LOVE SUICIDES          2006
19  LOLLOBRIGIDA      METAL ARMAGEDDON          2006
20  LOLLOBRIGIDA       PACIFIC AMISTAD          2006
21  LOLLOBRIGIDA      PATTON INTERVIEW          2006
22  LOLLOBRIGIDA            POCUS PULP          2006
23  LOLLOBRIGIDA   RIDGEMONT SUBMARINE          2006
24  LOLLOBRIGIDA   RINGS HEARTBREAKERS          2006
25  LOLLOBRIGIDA         SMILE EARRING          2006
26  LOLLOBRIGIDA    SOLDIERS EVOLUTION          2006
27  LOLLOBRIGIDA        STAR OPERATION          2006
28  LOLLOBRIGIDA        SUNRISE LEAGUE          2006

### 4. To get the first and last names of all the actors in the movie titled "Bingo Talented":

In [5]:
query4 = """
SELECT a.first_name, a.last_name
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
WHERE f.title = 'Bingo Talented';
"""
df4 = pd.read_sql(query4, engine)
print(df4)

  first_name    last_name
0     GOLDIE        BRODY
1    CAMERON         WRAY
2       CARY  MCCONAUGHEY
3        JON        CHASE
4      RENEE         BALL

### 5. To get the customer_id associated with all payments greater than twice the average payment amount:

In [6]:
query5 = """
SELECT p.customer_id, p.amount
FROM payment AS p
WHERE p.amount > 2 * (
    SELECT AVG(amount)
    FROM payment
);
"""
df5 = pd.read_sql(query5, engine)
print(df5)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

### 6. To list the first and last names of the 5 customers who have the highest number(count) of payments:

In [7]:
query6 = """
SELECT c.first_name, c.last_name, COUNT(*) AS num_payments
FROM customer AS c
JOIN payment AS p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY num_payments DESC
LIMIT 5;
"""
df6 = pd.read_sql(query6, engine)
print(df6)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41